:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Subrayado del menu de navbar */
.navbar_text {
  position: relative;
}

.navbar_textCurrent {
  position: relative;
}

.navbar_textCurrent::after{
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 20px);
  width: 40px;
  height: 5px;
  background-color: #609DC2;
  
}

.navbar_text:hover::after{
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 20px);
  width: 40px;
  height: 5px;
  background-color: #609DC2;
}